*{
  margin: 0;
  padding: 0;
  border: 0;  
}

a:hover , a {
  color: inherit;
  text-decoration: inherit;
}

img{
  height: 300px;
  width: auto;
}

header{
  margin: 0 auto;
  width: 1020px;
}

h1{
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 27pt;
}

main{
  display: flex;
  margin: 0 auto;
  width: 900px;
}

.right{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.im{
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid grey;
  height: 90px;
  margin: 15px;
}

.p1{
  font-family: 'Lato', sans-serif;
  font-size: 25pt;
  margin-bottom: 5px;
}

.p2{
  font-family: 'Lato', sans-serif;
  font-size: 17pt;
  margin-bottom: 10px; 
}

.table{
  margin: 0 15px;
}

table {
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  table-layout: fixed;
  text-align: left;
  margin-bottom: 15px;
}

td{
  padding-left: 15px;
  padding-bottom: 5px;
}
.buttons{
  height: 55px;
  display: flex;
  flex-direction: row;
}
.but-1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  border: 1px solid rgb(255, 246, 113);
}

.but-2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  border: 1px solid rgb(41, 226, 195);
}